<div class="$css_class"
     xmlns:py="http://genshi.edgewall.org/"
     xmlns:xi="http://www.w3.org/2001/XInclude">
    <div class="board-title">$title</div>
    <div class="board-container" style="height: $height;">

        <ul class="kanban-column-container" data-bind="foreach: columns">
            <li class="kanban-column" data-bind="style: {width: $$root.columnWidth()}">
                <div>
                    <span data-bind="text: name">name</span>
                    <span>&ndash;&nbsp;wip:</span>
                    <span data-bind="text: wip">wip</span>
                </div>
                <ul class="card-list" data-bind="sortable: { data: tickets }">
                    <li class="kanban-card" data-bind="click: viewDetails">
                        <span class="id-label" data-bind="text: idString">id</span>
                        <span data-bind="text: summary">summary</span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="ticketDialog" data-bind="with: pickedTicket">
        <table class="ticket-table">
            <tr><td>Summary</td><td><input type="text" data-bind="value: summary, enable: IS_EDITABLE" /></td></tr>
            <tr><td>Priority</td><td data-bind="text: priority">priority</td></tr>
            <tr><td>Type</td><td data-bind="text: type">type</td></tr>
            <tr><td>Status</td><td data-bind="text: status">status</td></tr>
            <tr><td>Created</td><td data-bind="readableDate: time">time</td></tr>
            <tr><td>Modified</td><td data-bind="readableDate: changetime">changetime</td></tr>
        </table>
    </div>
</div>
